    <div class="item second">
      <div class="row">
        <div class="bg-color21 col-md-1 hidden-xs">
          
        </div>
        <div class="col-md-5 text-right-md item-caption bg-color3">

            <p class='titulo-s'>La unidad lo hace todo y, por lo mismo, debemos conservar este precioso principio

            -Simon Bolivar</p>
        </div>
        <div class="bg-color2 col-md-1 hidden-xs">
          
        </div>

        <div class="col-md-3 hidden-xs">
          <img src="img/slides/slide2.png" alt="" class="center-block img-responsive">
        </div>
      </div>
    </div>