{% extends 'index.html' %}
{% load humanize %}
{% load myfilters %}


{% block content %}
<div class="bg-color" class="section-padding">
	<div class="container">

		<div class="col-xs-12 text-center" style="padding:60px;">
		  <h1 class="fblanc">Opciones Del Soporte</h1>
		  
		  <br>
		</div>

		<table class="bg-color">
		<tr>
		  <th>Nº</th>
		  <th>Nombre</th>
      {% comment %}
		  <th>Detalles</th>
      {% endcomment %}
		  <th>Modificar</th>


		</tr>
		{% for opciones1x in opcionesS %}
		<!-- hola -->

		<tr>

		    <div class="">
		      <td>
		        <h3>{{ forloop.counter }}</h3>
		        </td>
		        	<td class="min-width-table">
		        	    {{opciones1x.nombre }}
                  {% comment %}
		        	    <td>

		        	    	<a href="{% url 'adm_sop_opcis_det' opciones1x.pk %}">
		        	    		<i class="fa fa-external-link" id="iconEnlace"></i>
		        	    	</a>
		        	    </td>
                  {% endcomment %}
		        	</td>


		          <td>

		          	   <a data-toggle="modal" data-target="#myModal1" data-id="" data-href="{% url 'adm_sop_opcisFormF' opciones1x.pk %}" data-nombre="{{opciones1x.username }}" data-tipo="aceptacion">
		          	   	<span class="btn-3d blue" >
		          	   		<i class="fa fa-pencil" id="iconBpencil">
		          	    		</i>
		          	    		Editar
		          	    </span>
		          		</a>



		          </td>
		        </span>
		    </div>
		    </tr>
		{% endfor %}
		</table>

	</div>
</div>









<div class="container-modal">
  <div class="modal fade" id="myModal1">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <div class="modal-header">
          <h4 class="modal-title text-center fblanc" id="pr1">Modificar de nombre</h4>

          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <div class="modal-body" id="popupb">
          <form accept-charset="UTF-8" method='post' id="ProblemForm" dataP-url="{% url 'ajax_opcisP' %}" name="amxj">

            <fieldset>
              {% for field in form %}
              <script type="text/javascript">
              </script>
                {% csrf_token %}
                <div class="errores">
                  {% if field.errors %}
                  <script type="text/javascript">
                    var varka = '{{field.errors}}';
                    varka = varka.replace(/\<li>/g, '');
                    varka = varka.replace(/\<\/li>/g, '');
                    varka = varka.replace(/\<\/ul>/g, '');
                    varka = varka.replace(/\<ul class="errorlist">/g, '')
                    varka = varka.replace('.', '.\n\n');


                    alert(varka);
                  </script>
                  {% endif %}

                </div>
                  {% if forloop.counter == 1%}
                    {{field|addclass:'form-control blancColor'}}
                  {% endif %}
                  {% if forloop.counter == 2%}
                    {{field|addclass:'form-control blancColor'}}
                  {% endif %}
                  {% if forloop.counter == 3%}
                    {{field|notifa3:'form-control blancColor'}}
                  {% endif %}
                  <div class="col-md-6">
                    {% if forloop.counter == 4%}
                      {{field|notifa1:'form-control blancColor'}}
                    {% endif %}

                  </div>
                  <div class="col-md-6">
                    {% if forloop.counter == 5%}
                      {{field|notifa2:'form-control blancColor'}}
                    {% endif %}

                  </div>
                  <p></p>
                  {% if field.help_text %}
                  <p class="help">{{ field.help_text|safe }}</p>
                  {% endif %}

              {% endfor %}

              <button class="btn btn-lg btn-primary btn-block" type="submit" id="enviof-1">Enviar</button>
            </fieldset>
            <br>


          </form>
        </div>
                          
      </div>
    </div>
  
  </div>
</div>


{% endblock %}








{% block modals %}

{% endblock %}