{% extends 'index.html' %}
{% load humanize %}

{% block content %}



<div class="bg-color" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center" style="padding:60px;">
        <h1 class="header-h" ><p> Perfil</p></h1>
      </div>
      <div class="col-md-12" style="padding-bottom:60px;">
        <div class="item active left">
          </div>

          	<a class="btn btn-default" href="{% url 'datose' pk=datos.pk %}"><span class="fa fa-pencil"></span>editar</a>
            <table class="bg-color">
                <p> </p>

                <td class="no_color_background">Nombre de usuario:</td>
                <td class="no_color_background"> {{ datos.usuario|linebreaksbr }} - {{datos.nivel_usua.nom_nivel}} </td>
                <br>
                <tr class="no_color_background">
                <td class="no_color_background">Nombre: </td><td> {{ datos.nombre|linebreaksbr }}</td>
                </tr>
                <tr class='no_color'>
                <td>Apellido: </td> <td>{{ datos.apellido|linebreaksbr }}</td>
                </tr>
                <tr class='no_color'>
                <td>Cedula: </td> <td> {{ datos.cedula|intcomma }}</td>
                </tr>
                {% comment %}
                <tr class='no_color'>
                <td>Correo: </td> <td> {{ datos.email|linebreaksbr }}</td>
                </tr>
                {% endcomment %}


                <tr class='no_color'>
                  {% if datos.fedicion %}
                  <td>Ultima edicion de perfil: </td> <td> {{ datos.fedicion }}</td>
                  {% else %}
                  <td>Ultima edicion de perfil: </td> <td> Ninguna</td>
                  {% endif %}
                </tr>
                

            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>









<div class="container-modal">
  <div class="modal fade" id="myModal1">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <div class="modal-header">
          <h4 class="modal-title text-center" id="pr1">Producto Nuevo</h4>

          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <div class="modal-body" id="popupb">
          <form accept-charset="UTF-8" method='post' action="asd" id="F-bs-1" name="amxj">

            <fieldset>
              {% for field in form2 %}

                {% csrf_token %}
                <div class="errores">
                  {{ field.errors }}
                </div>
                  {% if forloop.counter == 1%}
                  <div class="">{{field}}
                  </div>
                  {% endif %}

                  <p></p>
                  {% if field.help_text %}
                  <p class="help">{{ field.help_text|safe }}</p>
                  {% endif %}

              {% endfor %}

              <button class="btn btn-lg btn-primary btn-block" type="submit" id="enviof-1">Enviar</button>
            </fieldset>
            <br>


          </form>
        </div>
                          
      </div>
    </div>


</div>


{% endblock %}