{% extends 'index.html' %}
{% load humanize %}
{% load myfilters %}


{% block content %}
<div class="bg-color" class="section-padding">
	<div class="container">

		<div class="col-xs-12 text-center" style="padding:60px;">
		  <h1 class="fblanc">Opciones Avanzadas</h1>
		  
		  <br>
		</div>
		<div class="col-md-14">

			<div class="col-md-6">
				<a href="{% url 'adm_sop_opcis' %}">
					<button class="btn btn-lg btn-block btn-primary responsive-width">
						<span >
							De Soporte
						</span>
					</button>

				</a>

			</div>


			<div class="col-md-6">
				
				<a href="{% url 'op_codigo' %}">
					<button class="btn btn-lg btn-block btn-primary responsive-width">
						<span >
							De Codigo
						</span>
					</button>

				</a>
				
			</div>




			
			{% comment %}
			<div class="col-md-6">
				<button class="btn btn-lg btn-primary btn-block responsive-width">holaaaaaaaaaaa aaaaaaaaaaaa aaaaaaaaaaa aaaaaaaaaaa aaaaaaaaaaaa aaaaaaaaaaaa  aaaaaaaaaaa aaaaaaaaaaa aaaaaaaaaaa  aaaaaaaaaaa aaaaaaaaaaa aaaaaaaaaaa aaaaaaaaaaa</button>
			</div>

		</div>
		<div class="col-md-6">
			<button class="btn btn-lg btn-primary btn-block">hola</button>
		</div>
		<div class="col-md-6">
			<button class="btn btn-lg btn-primary btn-block">hola</button>
		</div>
		<div class="col-md-6">
			<button class="btn btn-lg btn-primary btn-block">hola</button>
		</div>

	</div>
</div>



{% endcomment %}



<div class="container-modal">
  <div class="modal fade" id="myModal1">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <div class="modal-header">
          <h4 class="modal-title text-center fblanc" id="text-mod1">Notificacion de f</h4>

          <button type="button" class="close" data-dismiss="modal"></button>
        </div>
        
        <div class="modal-body" id="popupb">
          <form accept-charset="UTF-8" method='post' id="ProblemForm" dataP-url="{% url 'ajax_opcisP' %}" name="amxj">

            <fieldset>
            	{% csrf_token %}
            <div class="col-md-6">
            	<button class="btn btn-lg btn-primary btn-block" type="submit" id="enviof-1">Si</button>

            </div>
            <div class="col-md-6">
            	<button type="button" class="btn btn-lg btn-primary btn-block" data-dismiss="modal">No</button>
            	
            </div>
              
            </fieldset>
            <br>


          </form>
        </div>
                          
      </div>
    </div>
  
</div>




{% endblock %}








{% block modals %}

{% endblock %}