{% extends 'index2.html' %}

{% block title %}Registro{% endblock %}


{% block content %}
  <div id="content">
    <div class="header">
      <div class="header-inner">
        <!--navbar-branding/logo - hidden image tag & site name so things like Facebook to pick up, actual logo set via CSS for flexibility -->
        <a class="navbar-brand center-block" href="{% url 'login' %}" title="Home">
          <h1 class="hidden">
              <img src="img/logo.png" alt="Valkyria Logo">
              Valkyria
            </h1>
            <h2 class="logo-name">Gaal</h2>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default" id="loginP">
          <div class="panel-heading">
            <h3 class="panel-title">
            	Registro

              </h3>
          </div>
          <div class="panel-body">

          	<div class="fields" id="dentroboto">
          		<form accept-charset="UTF-8" role="form" method='post'>

          			<fieldset>
          			  {% for field in form %}

          			    {% csrf_token %}
          			    <div class="errores">
          			      {% if field.errors %}
                      <script type="text/javascript">
                        var varka = '{{field.errors}}';
                        varka = varka.replace(/\<li>/g, '');
                        varka = varka.replace(/\<\/li>/g, '');
                        varka = varka.replace(/\<\/ul>/g, '');
                        varka = varka.replace(/\<ul class="errorlist">/g, '')
                        varka = varka.replace('.', '.\n\n');


                        alert(varka);
                      </script>
                      {% endif %}
          			    </div>
          			      {% if forloop.counter == 1%}
          			      <div class="form-group col-md-12">
          			        <div class="input-group input-group-lg">
          			          <span class="input-group-addon"><i class="fa fa-fw fa-user" name='username'></i></span>
          			          <input class="form-control" placeholder='Usuario' {{field}}
          			        </div>
          			      </div>
          			      {% endif %}
          			      {% if forloop.counter == 2%}
          			      <div class="form-group col-md-6 col-sm-6">
          			        <div class="input-group input-group-lg">
          			          <span class="input-group-addon"><i class="fa fa-fw fa-lock" name='username'></i></span>
          			          <input class="form-control" placeholder="Contraseña" {{field}} 
          			        </div>
          			      </div>
          			      {% endif %}
          			      {% if forloop.counter > 2%}
          			      <div class="form-group col-md-6 col-sm-6">
          			        <div class="input-group input-group-lg">
          			          <span class="input-group-addon"><i class="fa fa-fw fa-lock" name='username'></i></span>
          			          <input class="form-control" placeholder="Confirmar" {{field}} 
          			        </div>
          			      </div>

          			      {% endif %}


          			      <p></p>

          			  {% endfor %}
                  
          			  {% for field in form2 %}
                              {% if field.errors %}
                              <script type="text/javascript">
                                var varka = '{{field.errors}}';
                                varka = varka.replace(/\<li>/g, '');
                                varka = varka.replace(/\<\/li>/g, '');
                                varka = varka.replace(/\<\/ul>/g, '');
                                varka = varka.replace(/\<ul class="errorlist">/g, '')
                                varka = varka.replace('.', '.\n\n');


                                alert(varka);
                              </script>
                              {% endif %}

          			    {% csrf_token %}
          			      {% if forloop.counter == 1%}
          			      <div class="form-group col-md-6 col-sm-6">
                        <div class="input-group input-group-lg">
                          <span class="input-group-addon"><i class="fa fa-fw fa-user" name='username'></i></span>
                          <input class="form-control" placeholder='Nombre'  {{field}}
                        </div>
                      </div>
          			      {% endif %}

                      {% if forloop.counter == 2%}
                      <div class="form-group col-md-6 col-sm-6">
                        <div class="input-group input-group-lg">
                          <span class="input-group-addon"><i class="fa fa-fw fa-user" name='username'></i></span>
                          <input class="form-control" placeholder='Apellido'  {{field}}
                        </div>
                      </div>
                      {% endif %}
                      {% if forloop.counter == 3%}
                      <div class="form-group col-md-12">
                        <div class="input-group input-group-lg">
                          <span class="input-group-addon"><i class="fa fa-id-card-o" name='username'></i></span>
                          <input class="form-control" placeholder='Cedula'  {{field}}
                        </div>
                      </div>
                      {% endif %}
                      
                      

          			      <p></p>

          			  {% endfor %}

          			  <button class="btn btn-lg btn-primary btn-block" type="submit">Registrarse</button>
          			</fieldset>
          			<br>


          		</form>

        </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /row -->
  </div>
</div>



{% endblock %}