{% extends 'index.html' %}
{% load humanize %}
{% load myfilters %}


{% block content %}
<div class="bg-color" class="section-padding">
	<div class="container">


		{% if messages %}
		{% comment %}
		<ul class="messages">
			{% endcomment %}

			{% for message in messages %}
			{% if message.tags == 'success' %}
			<div class="content">
				<div class="col-sm-6 col-sm-offset-3">
					<div class="alert1 success">
						<span class="closebtn1" onclick="this.parentElement.style.display='none';">&times;</span> 
						<strong></strong> <span id="alert1text"> {{ message }}</span>
					</div>    

				</div>

			</div>
			{% endif %}

			{% if message.tags == 'error' %}
			<div class="content">
				<div class="col-sm-6 col-sm-offset-3">
					<div class="alert1">
						<span class="closebtn1" onclick="this.parentElement.style.display='none';">&times;</span> 
						<strong></strong> <span id="alert1text"> {{ message }}</span>
					</div>    

				</div>

			</div>
			{% endif %}

			{% comment %}
			<li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
			{% endcomment %}
			{% endfor %}

			{% comment %}
		</ul>
		{% endcomment %}
		{% endif %}


		<div class="col-xs-12 text-center" style="padding:60px;">
			<h1 class="fblanc">Usuarios Pasantes</h1>

			<br>
		</div>

		<div class="col-md-4">
			<a href="{% url 'registros_personal_inf' %}">
				<button class="btn btn-lg btn-block btn-primary responsive-width">
					<span >
						Añadir pasante
					</span>
				</button>

			</a>

		</div>


		<table class="bg-color">
			<tr>
				<th>Nº</th>
				<th>Usuario</th>
				<th>Nombre</th>
				<th>Cédula</th>
				<th class="min-width-table2">Área</th>

				{% comment %}
				<th>Perfil</th>
				{% endcomment %}


			</tr>
			{% for v_us1 in v_us %}


			<!-- hola -->

			<tr>

				<div class="">
					<td>
						<h3>{{ forloop.counter }}</h3>
					</td>
					<td>
						{{v_us1.username }}

					</td>
					<td>
						{% for dat in datos %}
						{% if dat.pk == v_us1.pk %}
						{{dat.nombre}} -
						{{dat.nivel_usua}}
						{% if dat.sub_area%}
						{{dat.sub_area}}
						{% endif %}

						{% endif %}
						{% endfor %}

					</td>

					<td>
						{% for dat in datos %}
						{% if dat.pk == v_us1.pk %}
						{{dat.cedula|intcomma}}

						{% endif %}
						{% endfor %}

					</td>
					<td>
						{% for dat in datos %}
						{% if dat.pk == v_us1.pk %}
						{{dat.cod_area}}

						{% endif %}
						{% endfor %}

					</td>


					{% comment %}    
					<td>

						<a href="{% url 'datos_u' v_us1.pk %}" class="fa fa-user" style="font-size: 25px;"></a>

					</td>
					{% endcomment %}
				</span>
			</div>
		</tr>
		{% endfor %}
	</table>

</div>

<div style="min-height: 166px;">

</div>

</div>





<div class="container-modal">
	<div class="modal fade" id="myModal1">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<h4 class="modal-title text-center fnegr" id="text-mod1">Notificacion de f</h4>

					<button type="button" class="close" data-dismiss="modal"></button>
				</div>

				<div class="modal-body" id="popupb">
					<form accept-charset="UTF-8" method='post' id="ProblemForm" dataP-url="{% url 'ajax_opcisP' %}" name="amxj">

						<fieldset>
							{% csrf_token %}
							<div class="col-md-6">
								<button class="btn btn-lg btn-primary btn-block" type="submit" id="enviof-1">Si</button>

							</div>
							<div class="col-md-6">
								<button type="button" class="btn btn-lg btn-primary btn-block" data-dismiss="modal">No</button>

							</div>

						</fieldset>
						<br>


					</form>
				</div>

			</div>
		</div>

	</div>
</div>








{% endblock %}








{% block modals %}

{% endblock %}
