{% extends 'index.html' %}
{% load humanize %}
{% load myfilters %}


{% block content %}
<div class="bg-color" class="section-padding">
	<div class="container">

		<div class="col-xs-12 text-center" style="padding:60px;">
		  <h1 class="fblanc">Aceptar Usuarios</h1>
		  
		  <br>
		</div>

		<table class="bg-color">
		<tr>
		  <th>Nº</th>
		  <th>Usuario</th>
		  <th>Nombre</th>
		  <th>Cedula</th>
		  {% comment %}
		  <th>Perfil</th>
		  {% endcomment %}
		  <th>Aceptar</th>

		</tr>
		{% for v_us1 in v_us %}
		

		<!-- hola -->

		<tr>

		    <div class="">
		      <td>
		        <h3>{{ forloop.counter }}</h3>
		        </td>
		        	<td>
		        	   {{v_us1.username }}

		        	</td>
		        	<td>
		        		{% for dat in datos %}
		        		{% if dat.pk == v_us1.pk %}
		        			{{dat.nombre}}

		        	  	{% endif %}
		        	  	{% endfor %}

		        	</td>
		        	<td>
		        			{% for dat in datos %}
		        			{% if dat.pk == v_us1.pk %}
		        				{{dat.cedula|intcomma}}

		        		  	{% endif %}
		        		  	{% endfor %}

		        	</td>
		              

		          {% comment %}    
		          <td>

		          		<a href="{% url 'datos_u' v_us1.pk %}" class="fa fa-user" style="font-size: 25px;"></a>

		          </td>
		          {% endcomment %}
		          <td>
		          	<a data-toggle="modal" data-target="#myModal1" data-id="" data-href="{% url 'userAP' v_us1.pk %}" data-nombre="{{v_us1.username }}" data-tipo="aceptar"><span class="btn btn-primary" ><i class="fa fa-check" id="iconB" style="color:rgba(0, 255, 0,0.95);">  </i> Si.</span></a>

		          	<a data-toggle="modal" data-target="#myModal1" data-id="" data-href="{% url 'userNE' v_us1.pk %}" data-nombre="{{v_us1.username }}" data-tipo="eliminar"><span class="btn btn-primary"><i class="fa fa-times" id="iconB" style="color:rgba(255, 0, 0,0.95);"></i>  No. </span></a>

		          </td>
		        </span>
		    </div>
		    </tr>
		{% endfor %}
		</table>

	</div>
</div>







<div class="container-modal">
  <div class="modal fade" id="myModal1">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <div class="modal-header">
          <h4 class="modal-title text-center fblanc" id="pr1">Notificacion de f</h4>

          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <div class="modal-body" id="popupb">
          <form accept-charset="UTF-8" method='post' id="ProblemForm" dataP-url="{% url 'ajax_opcisP' %}" name="amxj">

            <fieldset>
            	{% csrf_token %}
            <div class="col-md-6">
            	<button class="btn btn-lg btn-primary btn-block" type="submit" id="enviof-1">Si</button>

            </div>
            <div class="col-md-6">
            	<button type="button" class="btn btn-lg btn-primary btn-block" data-dismiss="modal">No</button>
            	
            </div>
              
            </fieldset>
            <br>


          </form>
        </div>
                          
      </div>
    </div>
  
</div>






<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


{% endblock %}








{% block modals %}

{% endblock %}